.buttonBlock {
  display: flex;
  flex-direction: column;
}

.buttonItem {
  margin: 30px;
  width: 88px;
  height: 80px;
}

.form {
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}

.input {
  margin: 10px;
}

.parent,
.child,
.item {
  margin: 30px;
  padding: 10px;
  outline: 1px solid #ffc107;
}
